	<div class="help_lib">
            	<div class="help_cats clearfix">
<dl style=" border-right:1px solid #ccc;">
  <dt><a title="" href="article_cat.php?id=5">ショップについて</a></dt>
    <dd><a title="" href="article.php?id=9">お支払い方法</a></dd>
    <dd><a title="" href="article.php?id=10">配送料</a></dd>
    <dd><a title="" href="article.php?id=11">商品の返品&交換</a></dd>
  </dl>
<dl style=" border-right:1px solid #ccc;">
  <dt><a title="" href="">お問い合わせ</a></dt>
    <dd><a title="" href="">xxxxxxxxx</a></dd>
<!--     <dd><a title="学生如何挑选西服" href="">学生如何挑选西服</a></dd>
    <dd><a title="九种打领带的方法" href="">九种打领带的方法</a></dd> -->
  </dl>
<!-- <dl style=" border-right:1px solid #ccc;">
  <dt><a title="配送与支付" href="">配送料</a></dt>
    <dd><a title="货到付款区域" href="">配送情報</a></dd>
    <dd><a title="配送注意事项" href="">商品の返品</a></dd>
    <dd><a title="支付方式说明" href="">商品の交換</a></dd> -->
<!--     <dd><a title="网上支付指南" href="article.php?id=73">お支払い方法</a></dd> -->
  </dl>
<dl style=" border-right:1px solid #ccc;">
<!--   <dt><a title="会员中心" href="article_cat.php?id=10">会员中心</a></dt>
    <dd><a title="资金管理" href="article.php?id=18">资金管理</a></dd>
    <dd><a title="我的收藏" href="article.php?id=19">我的收藏</a></dd>
    <dd><a title="我的订单" href="article.php?id=20">我的订单</a></dd> -->
  </dl>
<dl style=" border-right:1px solid #ccc;">
<!--   <dt><a title="服务保证" href="article_cat.php?id=8">服务保证</a></dt>
    <dd><a title="退换货原则" href="article.php?id=21">退换货原则</a></dd>
    <dd><a title="售后服务保证" href="article.php?id=22">售后服务保证</a></dd>
    <dd><a title="产品质量保证" href="article.php?id=23">产品质量保证</a></dd> -->
<!--     <dd><a title="网购退换货说明" href="article.php?id=66">网购退换货说明</a></dd> -->
  </dl>
                    
<!--                    <div class="help_tel"> 
                    <div class="t">お問い合わせ</div>
                    <div class="b">xxxxxxxxx</div> 
                    <div class="t">お問い合わせ</div>
                    <div class="b">xxxxxxxxx</div>
                   </div>
                    
                </div>
            </div> -->
 	
<!-- </div>
<div class="blank"></div>
<div style="text-align:center"></div>
<div class="page_footer block">
	<div class="foot_nav">
    	<div class="block">
             	<div class="nav_list">
                        <a href="#" style="padding:0 3px 0 5px">隐私保护</a>  
            
            
                          |
                                    <a href="#" style="padding:0 3px 0 5px">公司简介</a>  
            
            
                          |
                                    <a href="#" style="padding:0 3px 0 5px">联系我们</a>  
            
            
                          |
                                    <a href="#" style="padding:0 3px 0 5px">在线客服</a>  
            
            
                          |
                                    <a href="#" style="padding:0 3px 0 5px">加盟政策</a>  
            
            
                          |
                                    <a href="#" style="padding:0 3px 0 5px">团购优惠</a>  
            
            
                          |
                                    <a href="#" style="padding:0 3px 0 5px">配送方式</a>  
            
            
                         


</div></div></div></div> -->