<div class="page_footer block">
	<div class="foot_nav">
    	<div class="block">
             	<div class="nav_list">


                        <a href="article.php?id=2" style="padding:0 3px 0 5px"</a>  
            
            
                          
                                    <a href="article.php?id=5" style="padding:0 3px 0 5px"></a>  
            
            
                          
                                    <a href="article.php?id=4" style="padding:0 3px 0 5px"></a>  
            
            
                          
                                    <a href="article.php?id=3" style="padding:0 3px 0 5px"></a>  
            
            
                          
                                    <a href="article.php?id=1" style="padding:0 3px 0 5px"></a>  
            
            
                          
                                    <a href="article.php?id=57" style="padding:0 3px 0 5px"></a>  
            
            
                          
                                    <a href="myship.php" style="padding:0 3px 0 5px"></a>  
            
            
                         


</div></div></div></div>